In [1]:
from keras.models import Sequential
from keras.layers import Dense
import numpy
import pandas as pd

C:\Users\SURESHPANDI\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
!pip3 install --upgrade pandas

Requirement already satisfied: pandas in c:\users\sureshpandi\anaconda3\lib\site-packages (1.2.4)

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\SURESHPANDI\\anaconda3\\Lib\\site-packages\\~andas\\_libs\\algos.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Collecting pandas
  Using cached pandas-1.5.0-cp38-cp38-win_amd64.whl (11.0 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sureshpandi\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\sureshpandi\anaconda3\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sureshpandi\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\sureshpandi\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.4
    Uninstalling pandas-1.2.4:
      Successfully uninstalled pandas-1.2.4

In [59]:
df = pd.read_csv(r'diabetes.csv',header=None)

In [60]:
df1=df.copy()

In [68]:
df.drop(0,axis=0,inplace=True)

In [70]:
df

      0    1   2   3    4     5      6   7  8
1     6  148  72  35    0  33.6  0.627  50  1
2     1   85  66  29    0  26.6  0.351  31  0
3     8  183  64   0    0  23.3  0.672  32  1
4     1   89  66  23   94  28.1  0.167  21  0
5     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
764  10  101  76  48  180  32.9  0.171  63  0
765   2  122  70  27    0  36.8   0.34  27  0
766   5  121  72  23  112  26.2  0.245  30  0
767   1  126  60   0    0  30.1  0.349  47  1
768   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

      0    1   2   3    4     5      6   7
1     6  148  72  35    0  33.6  0.627  50
2     1   85  66  29    0  26.6  0.351  31
3     8  183  64   0    0  23.3  0.672  32
4     1   89  66  23   94  28.1  0.167  21
5     0  137  40  35  168  43.1  2.288  33
..   ..  ...  ..  ..  ...   ...    ...  ..
764  10  101  76  48  180  32.9  0.171  63
765   2  122  70  27    0  36.8   0.34  27
766   5  121  72  23  112  26.2  0.245  30
767   1  126  60   0    0  30.1  0.349  47
768   1   93  70  31    0  30.4  0.315  23

[768 rows x 8 columns]

In [81]:
# seed = 7
# numpy.random.seed(seed)
# # load pima indians dataset
# dataset = numpy.loadtxt("diabetes.csv", delimiter=",")
# # split into input (X) and output (Y) variables
X = df.iloc[:,0:8]
Y = df.iloc[:,8]

In [82]:
# create model
model = Sequential()
model.add(Dense(12, input_dim=8,  activation='relu'))
model.add(Dense(10, activation='relu'))
#model.add(Dense(10, activation='tanh'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# Compile model

In [83]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [84]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 12)                108

 dense_5 (Dense)             (None, 10)                130

 dense_6 (Dense)             (None, 8)                 88

 dense_7 (Dense)             (None, 1)                 9

=================================================================
Total params: 335
Trainable params: 335
Non-trainable params: 0
_________________________________________________________________